<div class="container py-5">
  
  <h1>Vote Cherry</h1>

  <%= form_with(model: @flavor, local: true) do |form| %>
    <% if @flavor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@flavor.errors.count, "error") %> prohibited this @flavor from being saved:</h2>

        <ul>
        <% @flavor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field">
    <%= radio_button_tag(:cherry, "Cherry") %>
    <%= form.text_field :cherry, id: :flavor_cherry,  method: :post, value:"I Vote Cherryyyyyyyy" %>
  </div>


    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>
